<div>​
    <h1>Nouveau questionnaire</h1>​
  </div>​
  <form>​
    <div>​
      <label>Question</label>​
      <input>​
    </div>​
    <div>​
      <label>choix</label>​
      <div>​
        <input>​
      </div>​
    </div>    ​
    <div>​
      <div>​
        <button><span>​</span> Ajouter une question</button>​
      </div>​
    </div>​
    <p><hr></p>​
    <div>​
      <div>​
        <a>​
        <span ></span> ​
            retour aux questionnaire</a>​
      </div>​
      <div >​
        <button  type="submit">​créer formulaire &raquo;</button>​
      </div>​
    </div>​
    <p>&nbsp;</p>​
  </form>​