
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulaires questions</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
  </head>
  <style>
    .poll{
      padding: 20px;
      border: 1px solid #ccc;
    }
    h3,h1{
      font-weight: bold;
      font-size: large ;
      margin-bottom: 20px;
      background-color: lightslategrey;
      text-align: center;

    }
    .card,.btn {
      width: 50%!important;
      margin-top:2em;

    }  
  </style>
  <body>
    <div class="container">
      <h1>Questionnaires</h1>
      <form class="form-horizontal" action="" method="POST">
        <div class="card">
          <div class="card-body">
            <p class="card-text"></p>
            <div class="form-group">
              <input type="text" class="form-control form-control-lg" name="" id="" aria-describedby="helpId" placeholder="">
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <p class="card-text">testt?</p>
            <div class="form-group">
              <input type="text" class="form-control form-control-lg" name="" id="" aria-describedby="helpId" placeholder="">
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <p class="card-text"></p> 
            <div class="form-group ">
              <input class="form-control form-control-lg" id="date" name="date" width="50" placeholder="MM/DD/YYYY" type="text"/>
            </div>
          </div>
        </div>
        <div class="card" >
          <div class="card-body">
            <p class="card-text"></p>   
            <div class="form-group">
                <input type="email" name="" id="input" class="form-control form-control-lg" width="50" value="" required="required">
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
              <p class="card-text"></p> 
              <div class="form-group">
                <input type="tel" name="" id="input" class="form-control form-control-lg" width="50" value="" required="required" title="">
              </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <p class="card-text"></p>
            <div class="form-group">
              <input type="number" name="" id="input" class="form-control form-control-lg" width="50" value="" required="required">
            </div>
          </div>
        </div>  
        <div class="card">
          <div class="card-body">
            <p class="card-text"></p>  
            <div class="form-group">
              <input type="range" name="" id="input" class="form-control form-control-lg" value="" min="{5"} max="" step="" required="required" title="">
            </div> 
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <p class="card-text"></p>
            <div class="form-group ">
              <div class="col-sm-8">
                <select class="select form-control form-control-lg" id="select" name="select">
                  <option value="First Choice">First Choice</option>
                  <option value="Second Choice">Second Choice</option>
                  <option value="Third Choice">Third Choice</option>
                </select>
              </div>
            </div>  
          </div>
        </div>  
        <div class="card">
          <div class="card-body">
            <p class="card-text"></p>
            <div class="form-group ">
              <div class="col-sm-8">
                <select class="select form-control form-control-lg" id="select" name="select">
                  <option value="First Choice"> First Choice</option>
                  <option value="Second Choice">Second Choice</option>
                  <option value="Third Choice">Third Choice</option>
                </select>
              </div>
            </div>
          </div>
        </div>    
        <button type="submit" class="btn btn-primary">Submit</button>
        <input type="hidden" name="poll" value="1">
      </form>
    </div>  
    <script>
      $(document).ready(function(){
        var date_input=$('input[name="date"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
          format: 'mm/dd/yyyy',
          container: container,
          todayHighlight: true,
          autoclose: true,
        })
      })
    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    
  </body>
</html>
