module.exports = {
    // API informations, for near future uses.
    api_url: null,
    api_backend_key: null,

    // Task queuing options
    backend_redis_host: 'redis.formol.dev',
    backend_redis_port: 6379,
    // backend_redis_pass: null,
    // backend_redis_db: 0

    // List of queues that the backend will listen
    backend_queues: ['generate_poll'],
};
