module.exports = {
    // Web server options
    bind_ip: '[::1]',
    bind_port: 3001,

    // Security settings
    jwt_secret: '', // Example of command for generating one: openssl rand -hex 36

    // Task queuing options
};
