module.exports = {
    // Web server options
    bind_ip: '0.0.0.0',
    bind_port: 3001,
    exposed_uri: 'api.dev.formol.site',

    // Security settings
    jwt_secret:
        'ae35b33173d1e51d1cc8d4165599d629c29d9cea119af9a332bac15a89450f74c546197c', // Example of command for generating one: openssl rand -hex 36

    // Task queuing options
    backend_redis_host: 'redis.formol.dev',
    backend_redis_port: 6379,
    // backend_redis_pass: null,
    // backend_redis_db: 0

    // Emails configuration (Sendgrid API)
    email: {
        apikey: '', // Use your API Key from Sendgrid dashboard
        globalEmail: 'noreply@formol.site',
    },
};
